@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700);
body {
  font-family: Montserrat, sans-serif;
}
.navbar {
  font-weight: 700;
  background-color: #4a5567;
  border-color: #4a5567;
  transition: 0.5 ease;
}
.navbar-brand {
  font-weight: 700;
  font-size: 18px;
}
.nav-item {
  font-weight: 500;
  padding: 10px;
}
.floatingNav {
  transition: 0.5s ease;
}
.floatingNav.navbar {
  background-color: #fff;
  border-color: #fff;
  transition: 0.5s ease;
  box-shadow: 0 8px 6px -6px #999;
}
#header {
  margin-top: 8%;
}
#main {
  font-weight: 700;
  padding-right: 5%;
  font-size: 45px;
}
.margin-page {
  margin-top: 5%;
  margin-bottom: 5%;
}
.margin-top {
  margin-top: 5%;
}
.margin-bottom {
  margin-bottom: 5%;
}
.page-title {
  font-weight: 700;
  font-size: 32px;
}
.center-text {
  text-align: center;
}
